.contacto {
    font-size: 1.125rem;
}

.formulario {
    background-color: #273a3b;
}

.errores {
    background-color: #273a3b;
    margin: 0;
}

.items > input, select, textarea {
    width: 80%;
}

input[type=button] {
    border: none;
    background-color: #66ADB0;
    cursor: pointer;
    width: 30%;
}


.items > label {
    color: #518789;
    font-weight: 600;
    margin-right: 8rem;
    padding: 0.7rem;
}

textarea {
    margin-top: 0.8rem;
}

@media (min-width: 768px) {
    .contacto {
        width: 80%;
        margin: 0 auto;
    }

}
@media (min-width: 992px) {

    .items > textarea, input, select{
        border: 1px solid #273a3b;;
        margin-top: 0.7rem;
        margin-bottom: 1.125rem;
    }
    
    h1 {
        padding: 10rem;
    }

    .contacto {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 45% 55%;
        padding: 0;
        background-color: white;
        color: white;
        box-shadow: 0px 0px 3px 1px black;
    }

    .img-izquierda {
        height: 100%;
        background: url(../img/form.png) no-repeat center;
        background-size: cover;
    }

    .items > input, select{
        width: 100%;
        font-size: 1rem;
        transition: .3s;
    }

    textarea {
        width: 100%;
        font-size: 1rem;
        transition: .3s;
    }

    .items > label {
        width: 30%;
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    input[type=button] {
        width: 50%;
        padding: 1rem;
        background-color: #66ADB0;
        cursor: pointer;
        border: none;
    }

    .derecha {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        padding: 5rem 0;
    }

}